.jumbotron{
    /* background-image: url(../../assets/image/blood-donation-banner-1024x374.jpg); */
   height: 100%;
   border-radius: 0px;
   background-color: #d32f2f;
}/*
.header1{
    display:inline-block;
}

.user{
    display: inline;
}*/

.mylogo{
    display: inline;
    
}