<div class="container-fluid py-4">

    <!-- <h3 class="text-center"> Under Development</h3> -->
    <ul class="list-group list-group-flush">
        <li class="list-group-item blood-bank-color">
            <div class=" font-weight-bold row py-2 text-white">
                <div class="col-3 mr-0">
                    Donation Camp
                </div>
                <div class="col-3 px-0">
                    Organised by
                </div>
                <div class="col-2 ml-0">
                    Date
                </div>
                <div class="col-2 ml-0">
                    Venue
                </div>
                <div class="col-2 mr-0">
                    Action
                </div>
            </div>
        </li>

        <li class="list-group-item" *ngFor="let donationCamp of donationCampList">

            <app-donation-camp-individual [donationCamp]="donationCamp">

            </app-donation-camp-individual>

        </li>

        <div *ngIf="notAvailable" class="alert alert-danger" role="alert">
            Specified blood is not available. Please click on the given link to Post your blood request.
            <a href="/find-blood-requirement">Post My Request</a>
        </div>
    </ul>

</div>
