<div class="container py-4">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">            
            <img class="hospital-img-resize" src="./../assets/image/hosp.svg">
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <div class="container-fluid">
                <p>Organised By</p>
                <p>Venue:</p>
                <div class="row">
                    <div class="col">
                        <p>Start Time:</p>
                    </div>
                    <div class="col">
                        <p>End Time:</p>
                    </div>
                </div>
                
                <div >
                    <button class="btn btn-danger" > Register </button>
                </div>
            </div>
        </div>
    </div>
</div>
