<div class="container py-4">
    <p>Blood Bank Name:</p>
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <img class="hospital-img-resize" src="./../assets/image/hosp.svg">
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <div>
                <p>Total Available units:</p>
                <p>Address:</p>
                <p>city:</p>
                <p>Contact Number:</p>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        
                        <!-- positive groups units-->
                        <div class="card">
                            <div class="card-header">
                                <div class="row text-nowrap">

                                    <div class="col-3">
                                        <p>A+</p>
                                    </div>

                                    <div class="col-3">
                                        <p>B+</p>
                                    </div>

                                    <div class="col-3">
                                        <p>AB+</p>
                                    </div>

                                    <div class="col-3">
                                        <p>O+</p>
                                    </div>

                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row text-nowrap">

                                    <div class="col-3">
                                        <p>26</p>
                                    </div>

                                    <div class="col-3">
                                        <p>54</p>
                                    </div>

                                    <div class="col-3">
                                        <p>46</p>
                                    </div>

                                    <div class="col-3">
                                        <p>45</p>
                                    </div>

                                </div>
                            </div>

                        </div>                        

                    </div>

                    <div class="col-md-6 col-sm-12">
                        <!-- positive groups units-->
                        <div class="card">
                            <div class="card-header">
                                <div class="row text-nowrap">

                                    <div class="col-3">
                                        <p>A-</p>
                                    </div>

                                    <div class="col-3">
                                        <p>B-</p>
                                    </div>

                                    <div class="col-3">
                                        <p>AB-</p>
                                    </div>

                                    <div class="col-3">
                                        <p>O-</p>
                                    </div>

                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">

                                    <div class="col-3">
                                        <p>16</p>
                                    </div>

                                    <div class="col-3">
                                        <p>10</p>
                                    </div>

                                    <div class="col-3">
                                        <p>27</p>
                                    </div>

                                    <div class="col-3">
                                        <p>02</p>
                                    </div>

                                </div>
                            </div>

                        </div>

                        

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>