<!-- -->
<div class="container">
    <div class="row">

        <div class="col-lg-2 col-sm-0 py-4 px-4">

        </div>

        <div class="col-lg-8 col-sm-12 py-4 px-5 tips-center">
            <h3 class="card-title text-center"><em>Why donate Blood?</em></h3>
            <p class="justify-text">Every 2 seconds, someone in the country is in urgent need of blood. It
                is
                crucial for surgeries, emergency patients, accidents and burn victims. Whether you donate
                whole
                blood, red cells, platelets or plasma, this lifesaving care starts with you making a
                generous
                donation.
            </p>
        </div>

        <div class="col-lg-2 col-sm-0 py-4 px-4">

        </div>

    </div>




    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12 py-3 d-flex align-items-stretch">
            <div class="card index-card sha">
                <img src="../../assets/image/Q-AND-A.svg" class=" mt-4 card-img-top tips-cards-img-resizes">
                <div class="card-body text-center">
                    <h4 class="card-title">Who can donate blood?</h4>
                    <p class="card-text">All Details You Need to Know to Donate Blood</p>
                    <a routerLink="/faq" class="btn btn-danger mt-auto">Find Out</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 py-3 d-flex align-items-stretch">
            <div class="card  index-card sha ">
                <img src="../../assets/image/register.svg" class="mt-4 card-img-top tips-cards-img-resizes">
                <div class="card-body text-center">
                    <h4 class="card-title">Register As Donor</h4>
                    <p class="card-text">Find the nearby places where you want to donate and save life!</p>
                    <button (click)="loggedIn()" class="btn btn-danger mt-auto">Register As Donor</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 py-3 d-flex align-items-stretch">
            <div class="card index-card sha">
                <img src="../../assets/image/blood-donation.svg" class="mt-4 card-img-top tips-cards-img-resizes">
                <div class="card-body text-center">
                    <h4 class="card-title">How to donate</h4>
                    <p class="card-text">Find out how we plan your donations and when you'll
                        get an appointment.</p>
                    <a routerLink="/faq" class="btn btn-danger mt-auto">Find Out</a>
                </div>
            </div>
        </div>

    </div>



    <div class=" container mt-4">

        <div class="row d-flex align-items-center justify-content-center">
            <div class="">
                <img class="tips-main-image-size" src="../../assets/image/emergency.svg">
            </div>
        </div>

        <div class="row d-flex align-items-center justify-content-center px-3">
            <div class="">
                <h4 class="mt-4 text-center"> <img src="../../assets/image/1313229.png" class="home-icons-size">
                    Who can you help by donating blood?</h4>
            </div>

            <p class="text-body justify-text"><em>
                    Every day, patients of all ages are in need of blood transfusion. From premature babies
                    to
                    adults. Accidents and victims, Thalassemia patients, Sickle cell disease patients,
                    Cancer
                    patients, organ transplant patients, and heart surgery patients. In fact, some
                    Thalassemia,
                    Sickle cell and Cancer patients need blood on a daily basis.
                </em> </p>

            <p class="text-body"><em><u></u></em> </p>
        </div>

        <div class="row d-flex align-items-center justify-content-center">
            <div class="" style="">
                <img class="tips-main-image-size" src="../../assets/image/health.svg">
            </div>
        </div>

        <div class="row d-flex align-items-center justify-content-center px-3">
            <div class="text-center">
                <div class="">
                    <h4> <img src="../../assets/image/709114.png" class="home-icons-size">
                        How often can you donate?</h4>
                </div>
                <p class="text-body "><em>
                        <b>Whole blood</b>:
                        This can be donated after every 56 days or 08 weeks.
                    </em> </p>
                <p class="text-body "><em>
                        <b>Platelets</b>:
                        Platelets can be donated every 7 days and up to 24 times in a year.
                    </em> </p>
                <p class="text-body "><em>
                        <b>Plasma</b>:
                        Every 28 days and up to 13 times in a year
                    </em> </p>
                <p class="text-body "><em>
                        <b>Double Red Cells</b>:
                        These can be donated every 112 days or up to 3 times every year.
                    </em> </p>
            </div>
        </div>

    </div>

    <!--  footer -->
    <div class="footer">

    </div>


</div>