<div class="jumbotron jumbotron-fluid mb-0 blood-bank-color">


    <div class=" text-center">
        <h1 class="text-white py-4">
            Blood units
        </h1>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css
">

<div class="jumbotron box-shad">
    <div class="row w-100">
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card">
                    <h4>A+</h4>
                </div>
                <div class="text-info text-center mt-3 py-4">
                    <h4>Units</h4>
                </div>
                <div class="text-info text-center mt-2">
                    <h1>{{this.APlusUnits}}</h1>
                </div>





            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mx-sm-1 p-3">
                <div class="card border-success shadow text-success p-3 my-card">
                    <h4>B+</h4>
                </div>
                <div class="text-success text-center mt-3 py-4">
                    <h4>Units</h4>
                </div>
                <div class="text-success text-center mt-2">
                    <h1>{{this.BPlusUnits}}</h1>
                </div>




            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card">
                    <h4>AB+</h4>
                </div>
                <div class="text-danger text-center mt-3 py-4">
                    <h4>Units</h4>
                </div>
                <div class="text-danger text-center mt-2">
                    <h1>{{this.ABPlusUnits}}</h1>
                </div>



            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-warning mx-sm-1 p-3">
                <div class="card border-warning shadow text-warning p-3 my-card">
                    <h4>O+</h4>
                </div>
                <div class="text-warning text-center mt-3 py-4">
                    <h4>Units</h4>
                </div>
                <div class="text-warning text-center mt-2">
                    <h1>{{this.OPlusUnits}}</h1>
                </div>


            </div>
        </div>
    </div>

    <div class="row w-100 py-4">
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card">
                    <h4>A-</h4>
                </div>
                <div class="text-info text-center mt-3 py-4">
                    <h4>Units</h4>
                </div>
                <div class="text-info text-center mt-2">
                    <h1>{{this.AMinusUnits}}</h1>
                </div>




            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mx-sm-1 p-3">
                <div class="card border-success shadow text-success p-3 my-card">
                    <h4>B-</h4>
                </div>
                <div class="text-success text-center mt-3 py-4">
                    <h4>Units</h4>
                </div>
                <div class="text-success text-center mt-2">
                    <h1>{{this.BMinusUnits}}</h1>
                </div>




            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card">
                    <h4>AB-</h4>
                </div>
                <div class="text-danger text-center mt-3 py-4">
                    <h4>Units</h4>
                </div>
                <div class="text-danger text-center mt-2">
                    <h1>{{this.ABMinusUnits}}</h1>
                </div>




            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-warning mx-sm-1 p-3">
                <div class="card border-warning shadow text-warning p-3 my-card">
                    <h4>O-</h4>
                </div>
                <div class="text-warning text-center mt-3 py-4">
                    <h4>Units</h4>
                </div>
                <div class="text-warning text-center mt-2">
                    <h1>{{this.OMinusUnits}}</h1>
                </div>

            </div>
        </div>
    </div>
</div>