<nav class="navbar navbar-expand-md navbar-dark fixed-top blood-bank-color">
  <div class="ml-2">
    <img src="../assets/image/logo.svg" style="width:40px;">
    <a class="navbar-brand">
      <div class="text-white px-3"> Blood For Life</div>
    </a>
  </div>
  <button class="navbar-toggler availablity " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav">
      <!-- this link opens admin's dashboard -->
      <li class="nav-item active list-inline-item">
        <a class="nav-link text-center text-md-left" routerLink="/admin-dashboard" *ngIf="isAdmin() || isHospital()">DashBoard</a>
      </li>
      <li class="nav-item active list-inline-item">
        <a class="nav-link text-center text-md-left" routerLink="/admin-unit" *ngIf="isAdmin()">View Stock</a>
      </li>
      <li class="nav-item active list-inline-item">
        <a class="nav-link text-center text-md-left" routerLink="/adminFaq" *ngIf="isAdmin()">Manage FAQ</a>
      </li>
      <li class="nav-item active list-inline-item">
        <a class="nav-link text-center text-md-left" routerLink="/manage-blood" *ngIf="isHospital()">Manage Blood</a>
      </li>
      
      <!-- this link opens Home-->
      <li class="nav-item active list-inline-item">
        <a class="nav-link text-center text-md-left" routerLink="/home" *ngIf="!isAdmin() && !isHospital()">Home</a>
      </li>
      <!-- this link opens Request-->
      <li class="nav-item active list-inline-item">
        <a class="nav-link text-center text-md-left" routerLink="/my-requests" *ngIf="!isAdmin() && loggedIn() && !isHospital()">My Requests</a>
      </li>
      <!-- this link opens Services -->
      <li class="nav-item active list-inline-item " *ngIf="!isAdmin() && !isHospital()">
        <a class="nav-link text-center text-md-left" routerLink="/blood-donation/blood">Services</a>
      </li>


      <!-- this link opens Faq -->
      <li class="nav-item active list-inline-item " *ngIf="!isAdmin() && !isHospital()">
        <a class="nav-link text-center text-md-left" routerLink="/faq">FAQ</a>
      </li>
      <!-- this shows who's loggen in -->
      <li class="nav-item active" *ngIf="loggedIn()">
        <a class="nav-link text-center text-md-left"> <i class="material-icons vertical-align">
            person
          </i> {{this.name}}</a>
      </li>
      <li class="nav-item active" *ngIf="!loggedIn()">
        <a class="nav-link text-center text-md-left font-weight-bold" routerLink="/login">Login</a>
      </li>
      <li class="nav-item active" *ngIf="loggedIn()">
        <a class="nav-link text-center text-md-left font-weight-bold" (click)="logout()" routerLink="/login">Logout</a>
      </li>

      <li class="nav-item active list-inline-item " *ngIf="!isAdmin()">
        <a class="nav-link text-center text-md-left " routerLink="/credits">Credits</a>
      </li>

    </ul>
  </div>
</nav>




<!-- <div class="nav11">
<div class="bg-info nav11">
    
    <div class="text-white text-center py-3">
            
      <ul class="list-inline mb-0">
          
  <em><h4>
        <li class="active list-inline-item">
          <a class="nav-link"> Home</a>
        </li>
  
        <li class="active list-inline-item">
          <a class="nav-link">About</a>
        </li>
  
        <li class="active list-inline-item">
          <a class="nav-link">Service</a>
        </li>

        <li class="active list-inline-item">
                <a class="nav-link">FAQ</a>
        </li>
        <li class="active list-inline-item">
                <a class="nav-link">More</a>
              </li></h4>

  </em>
  
  
      </ul>
    </div>
  </div>
</div>

<div class="footer">
  <div class ="text1">Copyright 2019</div>
</div> -->

<router-outlet></router-outlet>

<!-- <div class="footer">
  <h3>
  Copyright &copy; 2019
  </h3>
</div> -->