<div class="py-2row d-flex align-items-center">
    <div class="col-3 ">{{req.firstName}}</div>
    <div class="col-3 ">{{req.lastName}}</div>
    <div class="col-3 ">{{req.bloodGroup}}</div>
    <div class="col-3 ">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <button (click)="onAccept()" class="btn btn-success">Accept</button>
            </div>
            <div class="col-sm-12 col-md-6">
                <button (click)="onReject()" class="btn btn-danger">Reject </button>
            </div>
        </div>
    </div>
</div>