<div class="container-fluid pt-5 mt-5 bg-dark fit-div-to-screen">

    <div class="row d-flex align-items-center flex-sm-row-reverse px-5">


        <div class="col-md-6 d-flex justify-content-center">
            <img class="hospital-img-resize rounded-circle" src="./../assets/image/satyajit.svg">
        </div>

        <div class="col-md-6 d-flex justify-content-center pb-4">          
            <div class="text-white py-4 text-center text-md-left">
                <h4 class="">Satyajit Patil</h4>
                <p>
                    Java Full Stack Developer                    
                </p>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a>LinkedIn Profile: </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href = "https://www.linkedin.com/in/satyajit26patil" target="_blank">https://www.linkedin.com/in/satyajit26patil</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a>GitHub Profile: </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href = "https://github.com/satyajitpatil" target="_blank">https://github.com/satyajitpatil</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a>Hackerrank Profile: </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href = "https://www.hackerrank.com/Satyajit26Patil" target="_blank">https://www.hackerrank.com/Satyajit26Patil</a>
                    </div>
                </div>
            </div>
        </div>

        

    </div>


    <div class="row d-flex align-items-center blood-bank-color slant-positive">  

        <div class="col-md-6 d-flex justify-content-center anti-slant-positive">   
            <img class="hospital-img-resize py-3" src="./../assets/image/Abhishek.svg">
        </div>

        <div class="col-md-6 d-flex justify-content-center anti-slant-positive pb-4">        
            <div class="text-white py-4 text-center text-md-left">
                <h4 class="">Abhishek Raj</h4>
                <p>
                    Java Full Stack Developer
                </p>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a>LinkedIn Profile: </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href = "https://www.linkedin.com/in/abhishek-r-197027108/ " target="_blank">https://www.linkedin.com/in/abhishek-r-197027108/</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a>GitHub Profile: </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href = "https://github.com/Abhishekraj07" target="_blank">https://github.com/Abhishekraj07</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a>Hackerrank Profile: </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href = "https://www.hackerrank.com/sonu_rdravid" target="_blank">https://www.hackerrank.com/sonu_rdravid</a>
                    </div>
                </div>

            </div>
        </div>        

    </div>

    <!--<div class="row d-flex align-items-center flex-sm-row-reverse">
        <div class="col-md-6 d-flex justify-content-center">
            <img class="hospital-img-resize rounded-circle" src="./../assets/image/Abhishek.svg">
        </div>

        <div class="col-md-6 d-flex justify-content-center">          
            <div class="text-white py-4 text-center text-md-left">
                <h4 class="">Abhishek Raj</h4>
                <p>
                    Java Full Stack Developer/ Well versed in Algorithms
                </p>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a>LinkedIn Profile: </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href = "https://www.linkedin.com/in/satyajit26patil" target="_blank">https://www.linkedin.com/in/satyajit26patil</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a>GitHub Profile: </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href = "https://github.com/satyajitpatil" target="_blank">https://github.com/satyajitpatil</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a>Hackerrank Profile: </a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href = "https://www.hackerrank.com/Satyajit26Patil" target="_blank">https://www.hackerrank.com/Satyajit26Patil</a>
                    </div>
                </div>
            </div>
        </div>       

    </div>-->


   <!-- <div class="row d-flex align-items-center slant-negative">

        <div class="col-md-6 d-flex justify-content-center anti-slant-negative">
            <img class="hospital-img-resize rounded-circle" src="./../assets/image/loyalty.svg">
        </div>

        <div class="col-md-6 d-flex justify-content-center anti-slant-negative">          
            <div class="text-white py-4">
                <h4 class="text-center text-md-left">Shreya Goyal</h4>
                <p>
                    FrontEnd Developer/ Creative Head 
                </p>
            </div>
        </div>        

    </div>


    <div class="row d-flex align-items-center flex-sm-row-reverse">

        <div class="col-md-6 d-flex justify-content-center">
            <img class="hospital-img-resize rounded-circle" src="./../assets/image/loyalty.svg">
        </div>

        <div class="col-md-6 d-flex justify-content-center">          
            <div class="text-white py-4">
                <h4 class="text-center text-md-left">Tejashri Mate</h4>
                <p>
                    Java Full Stack Developer/ Machine Learning Expert
                </p>
            </div>
        </div>

        

    </div> -->


</div>
