<div class="jumbotron jumbotron-fluid mb-0 blood-bank-color">

    <div class="px-4">
        <div class="">
            <h2 class="text-white">{{this.mainHeaderTitle}}</h2>
        </div>
        <form class="row mb-2" [formGroup]="availableBloodForm">
            <div class="col-md">
                <select formControlName="State" type="text"
                    class="form-control mb-2 mr-sm-2 bottom-lined-field blood-bank-color text-white"
                    (click)="getCities($event.target.value)">
                    <option>Select State</option>
                    <option *ngFor="let state of States">{{state}}</option>
                </select>
            </div>

            <div class="col-md" *ngIf="!this.disableBloodTypeField">
                <select formControlName="BloodGroup" type="text"
                    class="form-control mb-2 mr-sm-2 bottom-lined-field blood-bank-color">
                    <option>Select Blood Type</option>
                    <option *ngFor="let type of bloodTypes">{{type}}</option>
                </select>
            </div>

            <div class="col-md">
                <select formControlName="Area" type="text"
                    class="form-control mb-2 mr-sm-2 bottom-lined-field blood-bank-color text-white">
                    <option>Select City</option>
                    <option *ngFor="let city of Cities">{{city}}</option>
                </select>
            </div>
            <div class="form-check mb-2 mr-sm-2">
            </div>

        </form>
        <div class="d-flex justify-content-center">
            <button class="btn btn-success" (click)="onClick()">Search</button>
        </div>
    </div>
</div>


<!-- secondary navbar -->
<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex">

        <button class="navbar-toggler availablity " type="button" data-toggle="collapse"
            data-target="#collapsibleNavbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar1">
            <ul class="navbar-nav"></ul>
            <ul class="navbar-nav">

                <!-- this link opens admin's dashboard -->
                <li class="nav-item active list-inline-item">
                    <a (click)="onBloodSelection()" class="nav-link" routerLink="blood">Blood</a>
                </li>       
                <li class="nav-item active list-inline-item">
                    <a (click)="onDonorsSelection()" class="nav-link" routerLink="donor">Donors</a>
                </li>    
                <li class="nav-item active list-inline-item">
                    <a (click)="onBloodBankSelection()" class="nav-link" routerLink="blood-banks">Blood Bank</a>
                </li>
                <li class="nav-item active list-inline-item">
                    <a (click)="onDonationCampSelection()" class="nav-link" routerLink="blood-donation-camps">Donation Camp</a>
                </li>         

            </ul>
        </div>
    </nav>
</div>

<!-- end of seconary navbar-->

<router-outlet></router-outlet>


